* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #BC8034;
  color: #3F375C;
  text-align: center;
  padding: 20px;
}
header.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
header nav {
  color: #3F375C;
  padding: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav ul {
    float: none;
    display: block;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav ul {
    float: none;
    display: block;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
}
header nav li {
  color: black;
  float: left;
  text-decoration: none;
  border: 1px solid #98446B;
  border-radius: 8px;
  background-color: #9DAEFF;
  display: block;
  text-align: center;
  width: 10rem;
  height: 2rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
header nav a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #3F375C;
  text-decoration: none;
  text-align: center;
}
header nav a:hover {
  color: white;
  background-color: #98446B;
  color: #3F375C;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav a {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav a {
    text-align: center;
  }
}
header .menu-toggle {
  display: none;
}
header .menu-button {
  color: white;
  display: none;
  background-color: #3F375C;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .menu-button {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header .menu-button {
    display: block;
  }
}
header .menu-toggle:checked + .menu-button + nav ul {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

main {
  background-color: #9DAEFF;
  color: #3F375C;
  text-align: center;
  padding: 20px;
}
main section {
  background-color: #D9CAB3;
  color: black;
  gap: 20px;
  min-height: 20em;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main section h2 {
  font-size: 2em;
  width: 100%;
  margin-bottom: 20px;
}
main section p {
  font-size: 1.2em;
  width: 45%;
  margin-bottom: 20px;
}
main section .imagen {
  width: 45%;
  height: auto;
  max-height: 15em;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 350px) and (max-width: 767px) {
  main section {
    flex-direction: column;
  }
  main section p, main section .imagen {
    width: 80%;
  }
}
.conocenos {
  background-color: #9DAEFF;
}
.conocenos section {
  background-color: #D9CAB3;
  color: black;
  gap: 20px;
  height: fit-content;
  margin-bottom: 10px;
}
.conocenos section h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
.conocenos section p {
  font-size: 20px;
  width: 100%;
  min-height: 5em;
  max-height: fit-content;
  display: inline-block;
  text-align: center;
}
@media (min-width: 350px) and (max-width: 767px) {
  .conocenos {
    height: fit-content !important;
  }
}

.comentarios {
  background-color: #3F375C;
  color: white;
  padding: 20px;
  height: fit-content;
}
.comentarios h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
.comentarios .contenedor_carrusel {
  margin-top: 10px;
  overflow-x: scroll;
  display: flex;
  width: 100%;
}
.comentarios .carrousel {
  display: flex;
}
.comentarios .elemento_carrousel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 300px;
  border: #D9CAB3 2px solid;
  border-radius: 15px;
  background-color: #9DAEFF;
}
.comentarios .elemento_carrousel .user-info {
  margin: 10px;
  display: flex;
  align-items: center;
}
.comentarios .elemento_carrousel .user-info .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  align-items: right;
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel .user-info .user-image {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel .user-info .user-image {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel .user-info {
    font-size: 16px;
  }
}
.comentarios .elemento_carrousel h3 {
  text-align: right;
}
.comentarios .elemento_carrousel p {
  margin: 5px;
  text-align: center;
  height: 5em;
  padding: 5px;
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel p {
    margin: 5px;
    height: auto;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel p {
    margin: 5px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel {
    min-width: 250px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel {
    min-width: 280px;
    margin-right: 18px;
  }
}

.footer {
  background-color: #BC8034;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.footer-about h3, .footer-about p {
  color: white;
}
.footer .redes {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  gap: 15px;
}
.footer .redes li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.footer .redes li a:hover {
  text-decoration: underline;
  color: #98446B;
}
.footer .redes li a .red_ico {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .footer-redes {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
