@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #bc8034;
  color: #3f375c;
  text-align: center;
  padding: 20px;
}
header.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
header nav {
  color: #3f375c;
  padding: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav ul {
    float: none;
    display: block;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav ul {
    float: none;
    display: block;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
}
header nav li {
  color: black;
  float: left;
  text-decoration: none;
  border: 1px solid #98446b;
  border-radius: 8px;
  background-color: #9daeff;
  display: block;
  text-align: center;
  width: 10rem;
  height: 2rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
header nav .selected {
  padding-top: 5px;
}
header nav a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #3f375c;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  padding-top: 5px;
}
header nav a:hover {
  color: white;
  background-color: #98446b;
  color: #3f375c;
}
@media (min-width: 350px) and (max-width: 767px) {
  header nav a {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header nav a {
    text-align: center;
  }
}
header .menu-toggle {
  display: none;
}
header .menu-button {
  color: white;
  display: none;
  background-color: #3f375c;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .menu-button {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header .menu-button {
    display: block;
  }
}
header .menu-toggle:checked + .menu-button + nav ul {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

main {
  background-color: #9daeff;
  color: #3f375c;
  text-align: center;
  padding: 20px;
}
main section {
  background-color: #d9cab3;
  color: black;
  gap: 20px;
  min-height: 20em;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  animation: fadeInUp 1.5s ease forwards;
}
main section h2 {
  font-size: 2em;
  width: 100%;
  margin-bottom: 20px;
}
main section p {
  font-size: 1.2em;
  width: 45%;
  margin-bottom: 20px;
}
main section img {
  width: 30rem;
  height: 15rem;
  max-height: 15em;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1200px) {
  main section img {
    width: 25rem;
    height: 10rem;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  main section img {
    width: 25rem;
    height: 10rem;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  main section {
    flex-direction: column;
  }
  main section p {
    width: 80%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.conocenos {
  background-color: #9daeff;
}
.conocenos section {
  background-color: #d9cab3;
  color: black;
  gap: 20px;
  height: fit-content;
  margin-bottom: 10px;
}
.conocenos section h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
.conocenos section p {
  font-size: 20px;
  width: 100%;
  min-height: 5em;
  max-height: fit-content;
  display: inline-block;
  text-align: center;
}
@media (min-width: 350px) and (max-width: 767px) {
  .conocenos {
    height: fit-content !important;
  }
}

.comentarios {
  background-color: #3f375c;
  color: white;
  padding: 20px;
  height: fit-content;
}
.comentarios h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
.comentarios .contenedor_carrusel {
  margin-top: 10px;
  overflow-x: scroll;
  display: flex;
  width: 100%;
}
.comentarios .carrousel {
  display: flex;
}
.comentarios .elemento_carrousel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 300px;
  border: #d9cab3 2px solid;
  border-radius: 15px;
  background-color: #9daeff;
}
.comentarios .elemento_carrousel .user-info {
  margin: 10px;
  display: flex;
  align-items: center;
}
.comentarios .elemento_carrousel .user-info .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  align-items: right;
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel .user-info .user-image {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel .user-info .user-image {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel .user-info {
    font-size: 16px;
  }
}
.comentarios .elemento_carrousel h3 {
  text-align: right;
}
.comentarios .elemento_carrousel p {
  margin: 5px;
  text-align: center;
  height: fit-content;
  padding: 5px;
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel p {
    margin: 5px;
    height: auto;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel p {
    margin: 5px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .comentarios .elemento_carrousel {
    min-width: 250px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .comentarios .elemento_carrousel {
    min-width: 280px;
    margin-right: 18px;
  }
}

.servicios {
  background-color: var(--color-secundario);
  color: var(--font-color-primario);
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
  box-sizing: border-box;
  height: fit-content;
}
.servicios .grid-servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.servicios .grid-servicios section {
  opacity: 0;
}
.servicios .grid-servicios section:nth-of-type(1) {
  animation-delay: 0.5s;
}
.servicios .grid-servicios section:nth-of-type(2) {
  animation-delay: 1s;
}
.servicios .grid-servicios section:nth-of-type(3) {
  animation-delay: 1.5s;
}
.servicios .grid-servicios section:nth-of-type(4) {
  animation-delay: 2s;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .servicios .grid-servicios {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .servicios .grid-servicios {
    grid-template-columns: 1fr;
  }
}
.servicios .servicio-info {
  height: fit-content;
  width: 100%;
}
.servicios .servicio-info h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
  height: 4em;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .servicios .servicio-info h2 {
    height: 4rem;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .servicios .servicio-info h2 {
    height: 6rem;
  }
}
.servicios .servicio-info p {
  font-size: 16px;
  width: 100%;
  height: 13rem;
  text-align: justify;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .servicios .servicio-info p {
    height: 9rem;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .servicios .servicio-info p {
    height: fit-content;
  }
}
.servicios .servicio-imagen {
  height: 50%;
}
.servicios .servicio-imagen img {
  width: 15em;
  height: 15em;
  border-radius: 8px;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .servicios .servicio-imagen img {
    width: 100%;
    height: 10em;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .servicios .servicio-imagen img {
    width: 100%;
    height: 10em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .servicios .servicio {
    height: fit-content;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .servicios .servicio {
    height: fit-content;
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.contactanos {
  padding: 20px;
  text-align: center;
}
.contactanos-container {
  margin-top: 20px;
}
.contactanos-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.contactanos-container-info {
  margin-bottom: 20px;
  width: 50%;
}
.contactanos-container-info p {
  font-size: 16px;
  width: fit-content;
}
.contactanos-container-info-img {
  object-fit: cover;
  width: 20rem;
  height: 15rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .contactanos-container-info-img {
    display: none;
  }
}
.contactanos-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.contactanos-container form div {
  display: flex;
  flex-direction: column;
}
.contactanos-container form div label {
  margin-bottom: 5px;
  font-weight: bold;
}
.contactanos-container form div input[type=text],
.contactanos-container form div input[type=email],
.contactanos-container form div select,
.contactanos-container form div textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}
.contactanos-container form div select {
  height: 40px;
}
.contactanos-container form div textarea {
  height: 150px;
}
.contactanos-container form .subir {
  padding: 10px;
  background-color: #bc8034;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contactanos-container form .subir:hover {
  background-color: #946529;
}

.sesion {
  background-color: #9daeff;
  color: black;
  padding: 20px;
  text-align: center;
}
.sesion h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.sesion form {
  width: 100%;
}
.sesion form div {
  margin-bottom: 15px;
  text-align: left;
}
.sesion form div label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.sesion form div input[type=email],
.sesion form div input[type=password] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.sesion form .subir {
  width: 100%;
  padding: 10px;
  background-color: #bc8034;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sesion form .subir:hover {
  background-color: #946529;
}
.sesion p {
  font-size: 14px;
  margin-bottom: 20px;
}
.sesion p .recuperar {
  transition: color 0.3s;
}
.sesion p .recuperar:hover {
  color: #e6e6e6;
}
.sesion h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.sesion .crear-cuenta {
  font-size: 16px;
  transition: color 0.3s;
  text-decoration: none;
}
.sesion .crear-cuenta:hover {
  color: #e6e6e6;
}

.footer {
  background-color: #bc8034;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.footer-about h3,
.footer-about p {
  color: black;
}
.footer .redes {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  gap: 15px;
}
.footer .redes li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.footer .redes li a:hover {
  text-decoration: underline;
  color: #98446b;
}
.footer .redes li a .red_ico {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .footer-redes {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
