main {
  background-color: $secondary-color;
  color: $primary-font-color;
  text-align: center;
  padding: 20px;

  section {
    background-color: $tertiary-color;
    color: $secondary-font-color;
    gap: 20px;
    min-height: 20em;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation: fadeInUp 1.5s ease forwards;

    h2 {
      font-size: 2em;
      width: 100%;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
      width: 45%;
      margin-bottom: 20px;
    }

    img {
      width: 30rem;
      height: 15rem;
      max-height: 15em;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      object-fit: cover;
      @include mq-tablet {
        width: 25rem;
        height: 10rem;
      }
      @include mq-mobile {
        width: 25rem;
        height: 10rem;
      }
    }
  }
}

// Responsividad con mixin
@include mq-mobile {
  main section {
    flex-direction: column;

    p {
      width: 80%;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
